@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Londrina+Solid:wght@100;300;400;900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-left: 165px;
  padding-right: 165px;
  padding-top: 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.all {
  width: 1440px;
  height: 1870px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon {
  background-color: rgba(241, 103, 24, 1);
  padding: 5px;
  width: 40px;
  height: 40px;
}

.upperbutton {
  width: 175px;
  height: 58px;
  border: 0px;
  border-radius: 8px;
  background-color: rgba(232, 239, 242, 1);
  font-weight: 700;
  font-size: 16px;
  color: rgba(22, 37, 66, 1);
}

.lowerbutton {
  width: 175px;
  height: 58px;
  border: 0px;
  border-radius: 8px;
  background-color: rgba(241, 103, 24, 1);
  font-weight: 700;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

.uppersection {
  
}

.uppersectiontexts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.releasedate {
  color: rgba(123, 139, 173, 1);
  font-weight: 700;
  size: 16px;
}

.dateorder {
  display: flex;
  align-items: center;
}
